.slider-content{
    h1{
        font-size: 30px;
        font-style: bold;
    }
    .content{
        padding-left: 10%;
        max-height: 500px;
        
    }
    .slider{
        img{
            max-height: 500px;
        }
    }
}